<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/instagraph.css"/>
</head>
<body>

 <div>
    <div class="row">
        <div class="col s12 logoContainer">
            <h1 class="logostyle">Instagraph</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s12 postsContainer">

          <% if(posts.length > 0) { %>

            <% for(let post of posts) { %>

            <div class="row">
              <div class="col s2 profileImageContainer">
                <div class="imageContainer">
                <img style="width: 100%;" src="/images/<%= post.avatar %>" />
              </div>
              </div>
              <div class="col s10 profileNameContainer">
                <p class="profileText">
                  <a href="/posts/profile/<%= post.userid%>"><%= post.fullName%></a>
              
                </p>
                <p class="profileDateText">
                  posted: <%= moment(post.createdAt).format('DD/MM/YYYY, HH:MM') %></p>
              </div>
            </div>
            <div class="row">
              <div class="col s12 postImageContainer">

                <img style="width: 100%;" src="/images/<%= post.image %>" />
              </div>
            </div>
            <% } %>
          <% } %>  
        </div>
    </div>
 </div>

 <div class="flow"><a href="#modal1" class="btn-floating btn-large waves-effect waves-light cyan modal-trigger">
     <i class="material-icons">camera_alt</i></a></div>
 <div id="modal1" class="modal">
    <div class="modal-content">
      <h3 class="titlestyle">Upload image</h3>
      
      <form id="uploadImage_form" action="/posts/uploadImage" enctype="multipart/form-data"
       method="POST">
    
       <div class="input-field">
        <input  id="comments" name="comments" type="text">
        <label for="comments">Comments</label>

        <input  id="token" name="token" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJkYXRhVG9Ub2tlbiI6eyJpZCI6MywibmFtZSI6IkJpbGwgR2F0ZXMiLCJhdmF0YXIiOiJCaWxsIEdhdGVzLmpwZyJ9LCJpYXQiOjE2MjY2MTI5MjV9.3qsDvVUSYUuVPcy53cvtBqessCPblo5T_ojaW_dR9l0" type="hidden">
      </div>

      <div class="input-field">
        <input id="image" name="image" type="file">
      </div>

      <button form="uploadImage_form" class="btn waves-effect btn-large waves-light cyan" type="submit">UPLOAD
        <i class="material-icons right">add</i>
      </button>

    </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>

    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/materialize.js"></script>

    <script> $(document).ready(function(){
        $('.modal').modal();
      });</script>
</body>
</html>